<html>
  <head>
    <title>My Rack App</title>
  </head>
  <body>
    <h1>This is the root route</h1>
    <h2>Resources</h2>
    <ul>
      <li><a href="/todos">Todos</a></li>
    </ul>
  </body>
</html>