<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <div>
      <h1><%= @title %></h1>
      <p><a href="/todos">Back to the list</a></p>
      <p>
        <%= @todo[:id] %>, name: <strong><%= @todo[:name] %></strong>
      </p>
    </div>
  </body>
</html>